@font-face {
    font-family: 'neon';
    src: url('./fonts/SF-Pro.ttf') format('truetype');
}

*{
	font-family : neon;
}
body{
    /*background:  #002652;*/
     text-align: center;
     font-size: 30px;
}
img{
    margin: 1% auto;
    opacity: 0.7; /* ≈ı∏Ìµµ */
}

.form{
    position: relative;
    margin : 0 auto;
    width: 800px;
    /* background-color: white; */
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
table{
margin: 0 auto;
    width: 700px;
    border-color: hsl(190, 3%, 40%);
    
}
.tb_body{
    margin: auto;
    border-bottom: none;

}
tr,td, th, input{
    text-align: center;
    font-size: 15px;
    color: hsl(190, 3%, 40%);;
}

.wid1{
    width: 5%;
}

.wid2{
    width: 17%;
}



.suc, .rol {
    height: auto;
    margin-bottom: 1.5%;
    cursor: pointer;
    background:  #002C5F;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    padding: 10px 25px;
    border: 0px;
    color: #fff;
    font-size: 14px;
    }