@font-face {
	font-family: 'neon';
	src: url('./fonts/SF-Pro.ttf') format('truetype');
}

* {
	margin: 0 auto;
	font-family: neon;
}

* {
	margin: 0 auto;
	font-family: neon;
}

body {
	width: 100%;
	margin: 0 auto;
	background-color: white;
	color: white;
}

p {
	text-align: left;
}

section, aside {
	margin-top: 2.3%;
	padding : 10px;
}

button, a, input {
	cursor: pointer;
}

/* -----------nav-------------  */
#header {
	margin-top: 5%;
	height: 120px;
	background-color: #ffffff;
}
/*  닔 젙遺 遺 1217 */
h1 {
	text-align: left;
	font-size: 42px;
	margin-bottom: 2%;
}

.header_img {
	text-align: right;
	height: 100px;
	width: 40%;
	float: left;
}

/*  닔 젙遺 遺 1217 */
nav>button>a:hover, nav>button:hover, nav>a:hover {
	color: #555555;
}

.number:hover {
	color: #5b5b5b;
}

nav>button>a, button:active {
	color: #2b2b2b;
}

nav {
	text-align: right;
	width: 100%;
	position: fixed;
	background: #000000d6;
	height: 60px;
	display: block;
	z-index: 1;
}

nav>a, nav>button {
	font-size: 20px;
	font-weight: 500;
	margin-right: 4%;
	margin-top: 0.7%;
	text-decoration: none;
	background: none;
	color: wheat;
	border: none;
}
/* -----------nav-------------  */
h2, h3 {
	text-align: center;
}

.logo {
	width: auto;
	float: left;
}

.logo>img {
	margin-top: -10%;
	margin-left: 20px;
	padding: 10px;
}

.logo_name {
	width: 300px;
	height: 100px;
}

.logo_name>a {
	font-size: 25px;
	margin-left: 4%;
}

section {
	float: left;
	width: 32%;
	margin-left: 15%;
	height: 780px;
	color: black;
	box-shadow: 0 0 3px rgb(0 0 0/ 30%);
}

#pole_tb {
	width: 90%;
	height: 370px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	margin: 0 auto;
}

#pole_tb>tbody>tr {
	width: 50%;
	float: left;
	color: black;
}

#pole_tb>tbody>tr>th {
	margin-left: 30%;
	padding: 3%;
	display: flex;
	font-size: 16px;
}

#pole_tb>tbody>tr>td {
	margin-left: 30%;
	padding: 3%;
	display: flex;
	font-size: 16px;
}

.tb_nav {
	margin: auto;
	text-align: center;
}

.tb_nav>input {
	margin: 0 50px;
	margin-top: 2%;
	font-size: 15px;
	color: wheat;
	background: #000000bd;
	width: 100px;
	border: 0;
	border-radius: 5px;
	padding: 10px;
}

aside {
	float: left;
	width: 32%;
	margin-left: 5%;
	height: 780px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	color: black;
}

aside>.pole_img {
	border: none;
	width: 200px;
	height: 200px;
	float: left;
}

#alarm {
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	width: 20%;
	float: left;
	margin-left: 2%;
	height: 710px;
	overflow-y: scroll;
}

.alarm_head {
	height: 60px;
	width: 20%;
	margin-top: 1.8%;
	margin-left: 2%;
	float: left;
}

#impactdiv, #motiondiv, #tiltdiv {
	padding: 2px;
}

#alarmback {
	border-radius: 10px;
	border: 1px solid #ccc;
	padding: 11px;
	color: black;
	margin-bottom: 2%;
	font-size: 15px;
	width: 90%;
}

#alarm>h3, div {
	text-align: center;
}

h1 {
	width: 95%;
	margin-left: 0%;
	margin-top: 3.6%;
	height: 100px;
	font-size: 42px;
}

.graph {
	margin: 0 auto;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	width: 90%;
	height: 200px;
	background-color: #ffffff;
	color: #000000;
	text-align: center;
}

.text_area {
	margin: 0 auto;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	width: 90%;
	height: 145px;
	border-radius: 5px;
	border: 1px;
	overflow-y: auto;
}

.text_save {
	text-align: center;
}

.text_save>button {
	margin: 0 50px;
	margin-top: 2%;
	font-size: 15px;
	color: wheat;
	background: #000000bd;
	width: 100px;
	border: 0;
	border-radius: 5px;
	padding: 10px;
}

.text_save>input {
	margin-top: 1%;
	width: 80px;
	color: white;
	background-color: #002C5F;
	font-size: 15px;
	padding: 7px;
}

/* ***************************************************************************************************-------------------------------------- */
#footer {
	margin: 3% 20% -1%;
	text-align: center;
	float: left;
	position: relative;
	width: 60%;
	height: 50px;
}

.slideshow-container {
	margin: 0 15%;
	width: 70%;
	float: left;
	height: 600px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	text-align: center;
}

.mySlides>img {
	margin-top: 3%;
}

.dots {
	margin-top: 3%;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

/* On smaller screens, decrease text size */
@media only screen and (width: 300px) {
	.prev, .next {
		font-size: 11px
	}
}

/*--------------------------------camera  ------------------------------------*/

/* ------------------------------------------------------------------------------*/

/* cameraMove */
#cameraMove {
	width: 10%;
	padding: 10px;
	float: right;
	margin-top: -8%;
}

#cameraMove>input {
	margin-left: -150%;
	background: none;
	color: #5b5b5b;
	font-size: 15px;
	border: none;
	cursor: pointer;
}

#cameraView {
	background-color: white;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	width: 640px;
	height: 480px;
	margin: 0;
	font-size: 15px;
}

#uncheck, #buzzer {
	margin-right: 5%;
	margin-top: 1%;
	font-size: 15px;
	color: wheat;
	background: #000000bd;
	width: 100px;
	border: 0;
	border-radius: 5px;
	padding: 10px;
}

#cameraMove {
	background: none;
}

#camera_modal {
	display: none;
	margin-left: 20%;
	position: absolute;
	width: 100%;
	height: 700px;
	z-index: 1;
}

#camera_modal h2 {
	margin: 0;
}

#camera_modal button {
	display: inline-block;
	width: 100px;
}

#camera_modal .modal_content {
	width: 300px;
	margin: 100px auto;
	padding: 20px 10px;
	background: #fff;
	border: 2px solid #666;
}

#camera_modal .modal_layer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.705);
	z-index: -1;
}

/* ------------------------------------------------------------------------------*/
#Memo_modal {
	background-color: white;
	position: absolute;
	width: 100%;
	margin-left: -45%;
	height: 700px;
	margin-top: -20%;
	z-index: 1;
	display: none;
}

#check2, #uncheck2 {
	color: white;
	margin-top: 5%;
	margin-left: 12.5%;
	font-size: 15px;
	color: wheat;
	background: #000000bd;
	width: 100px;
	border: 0;
	border-radius: 5px;
	padding: 10px;
}

.Memo_area>input {
	text-align: center;
	font-size: 15px;
	background-color: white;
	margin-left: -15%;
	border-radius: 5px;
	width: 30%;
	border: none;
	height: 350px;
}

.Memo_btn {
	margin-left: 25%;
	width: 30%;
	height: 30%;
}

#Memo_modal h2 {
	margin: 0;
}

#Memo_modall button {
	display: inline-block;
	width: 100px;
	margin-left: calc(100% - 100px - 10px);
}

#Memo_modal .modal_layer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.705);
	z-index: -1;
}